* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: caveatRegular;
  src: url(../fonts/Caveat-Regular.ttf);
}
@font-face {
  font-family: caveatBold;
  src: url(../fonts/Caveat-Bold.ttf);
}
@font-face {
  font-family: gillSans;
  src: url(../fonts/GillSans.ttf);
}
@font-face {
  font-family: gillSansItalic;
  src: url(../fonts/GillSansItalic.ttf);
}
@font-face {
  font-family: gillSansLight;
  src: url(../fonts/GillSans-Light.ttf);
}
@font-face {
  font-family: latoRegular;
  src: url(../fonts/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: latoItalic;
  src: url(../fonts/Lato/Lato-Italic.ttf);
}
@font-face {
  font-family: latoItalicBlack;
  src: url(../fonts/Lato/Lato-BlackItalic.ttf);
}
nav {
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: -150px;
}

nav a {
  color: #000;
  text-decoration: none;
}

nav a:hover {
  border-bottom: 3px solid black;
}

nav a.active {
  border-bottom: 3px solid black;
}

nav .logo {
  top: 50px;
  left: 50px;
  width: 50%;
}

nav img {
  width: 168px;
  height: 32px;
}

nav .links {
  font-family: caveatRegular;
  width: 50%;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  letter-spacing: 2.5px;
  border-bottom: 3px solid transparent;
  text-decoration: none;
}

nav .loginAccount {
  margin-right: 1%;
  background: #ffd972 0% 0% no-repeat padding-box;
  width: 158px;
  height: 52px;
  box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 26px;
  border-width: 0;
  font-family: caveatRegular;
  font-size: 25px;
  letter-spacing: 2.5px;
}
nav .loginAccount p {
  margin-left: 40px;
  margin-top: 7px;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: latoItalic;
  font-size: 15px;
  margin-top: -60px;
  letter-spacing: 1.5px;
  color: black;
}

footer a {
  text-decoration: none;
  color: black;
}

footer .footer-left {
  margin-top: 15px;
}

footer .footer-middle {
  display: flex;
  align-items: center;
}

footer .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .footer-right img {
  width: 19px;
  height: 19px;
  margin-top: 15px;
}

.home-page {
  width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(242, 92, 84, 0.7), rgba(242, 92, 84, 0.7)), url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.home-page .banner {
  width: 50%;
  height: 60%;
  position: relative;
}
.home-page .banner .circle .circle-one {
  margin: 0 auto;
  width: 167px;
  height: 167px;
  background-color: #fcbcb8;
  border-radius: 50%;
  position: absolute;
  left: 400px;
}
.home-page .banner .circle .circle-one .text-one {
  max-width: 105px;
  font-size: 10px;
  position: absolute;
  top: 50px;
  left: 30px;
  font-family: latoItalic;
  font-size: 10px;
  text-align: center;
}
.home-page .banner .circle .circle-two {
  margin: 0 auto;
  width: 375px;
  height: 375px;
  background-color: #ffd972;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: 115px;
}
.home-page .banner .circle .circle-two .text-two {
  position: absolute;
  top: 100px;
  left: 100px;
  font-family: caveatBold;
  font-size: 24px;
  letter-spacing: 2.4px;
}
.home-page .banner .circle .circle-two .text-three {
  max-width: 175px;
  position: absolute;
  top: 150px;
  left: 100px;
  font-family: latoRegular;
  font-size: 13px;
  letter-spacing: 1.3px;
  text-align: center;
}

@media all and (max-width: 1000px) {
  .home-page {
    flex-direction: column;
  }
  .home-page .banner {
    flex-direction: column;
  }
  .home-page .banner .circle {
    flex-direction: column;
  }
  .home-page .banner .circle .circle-two {
    top: 50px;
    left: 50px;
  }
  .home-page .banner .circle .circle-one {
    left: 300px;
  }
  .circle {
    flex-direction: column;
  }
  .text-one {
    flex-direction: column;
  }
}
.browse {
  width: 100%;
  height: 1000px;
  background-image: linear-gradient(rgba(167, 232, 189, 0.7), rgba(167, 232, 189, 0.7)), url(../images/recipe-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: green;
  padding-top: 150px;
}
.browse .browse-page {
  width: 30%;
  height: 10%;
}
.browse .try-text {
  margin: 0 35%;
  margin-top: 50px;
  width: 300px;
  font-family: caveatRegular;
  font-size: 25px;
}
.browse .foods-one {
  margin: 0 auto;
  width: 95%;
  height: 40%;
  display: flex;
  justify-content: space-evenly;
}
.browse .foods-one .recipe-holder {
  max-width: 524px;
  min-height: 263px;
  display: flex;
}
.browse .foods-one .recipe-holder .recipe-image {
  width: 300px;
  height: 263px;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.browse .foods-one .recipe-holder .recipe-text {
  width: 224px;
  height: 263px;
  background-color: white;
  border-radius: 20px;
  font-family: latoRegular;
}
.browse .foods-one .recipe-holder .recipe-text .title {
  margin-top: 12px;
  margin-left: 60px;
  font-size: 15px;
  font-family: latoRegular;
}
.browse .foods-one .recipe-holder .recipe-text .break {
  width: 150px;
  height: 5px;
  background-color: black;
  margin-top: -13px;
  margin-left: 40px;
}
.browse .foods-one .recipe-holder .recipe-text .info {
  margin-left: 30px;
  font-size: 9px;
}
.browse .foods-one .recipe-holder .recipe-text .time {
  font-size: 10px;
  margin-left: 80px;
}
.browse .foods-one .recipe-holder .recipe-text .time img {
  width: 10px;
}
.browse .foods-one .recipe-holder .recipe-text .serving {
  font-size: 10px;
  margin-left: 80px;
}
.browse .foods-one .recipe-holder .recipe-text .serving img {
  width: 10px;
}
.browse .foods-one .recipe-holder .pizza {
  background-image: url(../images/recipe-pizza.jpg);
}
.browse .foods-one .recipe-holder .burger {
  background-image: url(../images/recipe-burger.jpg);
}
.browse .foods-one .chicken {
  background-image: url(../images/recipe-pilaf.jpg);
}
.browse .foods-one .chow {
  background-image: url(../images/recipe-chowmein.jpg);
}

@media all and (max-width: 1000px) {
  .browse {
    flex-direction: column;
    height: 100%;
  }
  .browse .foods-one {
    flex-direction: column;
    padding-bottom: 50px;
  }
  .browse .foods-one .recipe-holder {
    padding-bottom: 50px;
  }
  .browse .foods-one .recipe-image {
    padding-bottom: 50px;
  }
}
.account-page {
  width: 100%;
  height: 1000px;
  background-color: #ffd972;
  padding-top: 250px;
}
.account-page .login-info {
  display: flex;
  margin: 0 15%;
  align-items: center;
  justify-content: space-evenly;
}
.account-page .login-info .login {
  max-width: 206px;
  margin: 0 auto;
}
.account-page .login-info .login .login-text {
  margin-bottom: 50px;
  font-size: 30px;
  font-family: latoRegular;
}
.account-page .login-info .login input {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  background-color: #ffd972;
  font-size: 12px;
  font-family: latoRegular;
}
.account-page .login-info button {
  width: 209px;
  height: 52px;
  background-color: #ffd972;
  border-radius: 10px;
  border: #ffd972;
  box-shadow: 0px 10px 20px 1px gray;
  margin-top: 20px;
  cursor: pointer;
  font-family: caveatRegular;
  font-size: 25px;
}
.account-page .login-info .sign {
  max-width: 300px;
  margin: 0 auto;
}
.account-page .login-info .sign .question {
  font-size: 12px;
  margin-bottom: 3px;
  font-family: latoItalic;
}
.account-page .login-info .sign .sign-text {
  font-size: 30px;
  margin-bottom: 80px;
  font-family: latoRegular;
}
.account-page .login-info .sign input {
  display: block;
  width: 250px;
  height: 50px;
  margin-bottom: 5px;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  background-color: #ffd972;
  font-size: 12px;
  font-family: latoRegular;
}
.account-page .login-info .sign button {
  width: 209px;
  height: 52px;
  background-color: #ffd972;
  border-radius: 10px;
  border-color: #707070;
  margin-top: 20px;
  cursor: pointer;
  font-family: caveatRegular;
  font-size: 25px;
}

@media all and (max-width: 1000px) {
  .account-page {
    flex-direction: column;
    height: 100%;
  }
  .account-page .login-info {
    flex-direction: column;
  }
  .account-page .login-info .login {
    padding-bottom: 100px;
  }
  .account-page .login-info .sign {
    flex-direction: column;
    top: 575px;
    left: 273px;
    padding-bottom: 250px;
  }
  .account-page .login-info .sign .question {
    flex-direction: column;
  }
  .account-page .login-info .sign .sign-text {
    flex-direction: column;
  }
  .account-page .login-info .sign input {
    flex-direction: column;
  }
}
.create-recipe {
  margin: 0 auto;
  max-width: 1000px;
  padding-top: 150px;
}
.create-recipe .intro {
  margin-top: 100px;
  font-size: 25px;
  margin-bottom: 109px;
  font-family: caveatBold;
}
.create-recipe .recipe-info {
  max-width: 1000px;
  min-height: 400px;
}
.create-recipe .recipe-info .recipe-input {
  position: relative;
}
.create-recipe .recipe-info .recipe-input input {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  font-size: 12px;
}
.create-recipe .recipe-info .recipe-input .addImg {
  width: 110px;
  height: 36px;
  background-color: #efa7a7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: caveatRegular;
  font-size: 17px;
  border-radius: 15px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 890px;
}
.create-recipe .recipe-info .recipe-input .addImg p {
  margin-top: 10px;
}
.create-recipe .ingred {
  max-width: 1000px;
  min-height: 300px;
}
.create-recipe .ingred .ingred-text {
  font-family: latoRegular;
  font-size: 20px;
}
.create-recipe .ingred .ingred-input {
  position: relative;
}
.create-recipe .ingred .ingred-input input {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  font-size: 12px;
}
.create-recipe .instruction {
  max-width: 1000px;
  min-height: 300px;
}
.create-recipe .instruction .instruction-text {
  font-family: latoRegular;
  font-size: 20px;
}
.create-recipe .instruction .instruction-input {
  position: relative;
}
.create-recipe .instruction .instruction-input input {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  font-size: 12px;
}
.create-recipe .addBtn {
  width: 38px;
  height: 38px;
  background-color: #efa7a7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 40px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.create-recipe .addBtn p {
  font-size: 20px;
  margin-top: 20px;
  user-select: none;
  font-family: gillSans;
}
.create-recipe .create {
  width: 422px;
  height: 52px;
  background-color: #efa7a7;
  border-radius: 20px;
  border: none;
  margin-left: 300px;
  font-size: 25px;
  font-family: caveatRegular;
  margin-bottom: 130px;
}

@media all and (max-width: 1000px) {
  .create-recipe {
    flex-direction: column;
  }
  .create-recipe .recipe-info {
    flex-direction: column;
  }
  .create-recipe .recipe-info .recipe-input {
    flex-direction: column;
  }
  .create-recipe .recipe-info .recipe-input input {
    width: 60%;
    height: 50px;
  }
  .create-recipe .recipe-info .recipe-input .addImg {
    width: 110px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: caveatRegular;
    font-size: 17px;
    border-radius: 15px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 490px;
  }
  .create-recipe .recipe-info .recipe-input .addImg p {
    margin-top: 10px;
  }
  .create-recipe .ingred {
    flex-direction: column;
  }
  .create-recipe .ingred .ingred-input {
    flex-direction: column;
  }
  .create-recipe .ingred .ingred-input input {
    display: block;
    width: 60%;
    height: 50px;
    margin-bottom: 5px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 12px;
  }
  .create-recipe .instruction {
    flex-direction: column;
  }
  .create-recipe .instruction .instruction-input input {
    display: block;
    width: 60%;
    height: 50px;
    margin-bottom: 5px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 12px;
  }
  .create-recipe .addBtn {
    width: 38px;
    height: 38px;
    background-color: #efa7a7;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 40px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    right: 410px;
  }
  .create-recipe .addBtn p {
    font-size: 20px;
    user-select: none;
    font-family: gillSans;
  }
}
.created {
  width: 100%;
  height: 1000px;
  background-image: linear-gradient(rgba(167, 232, 189, 0.7), rgba(167, 232, 189, 0.7)), url(../images/recipe-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: green;
  padding-top: 150px;
}
.created .created-page {
  width: 30%;
  height: 15%;
  position: relative;
}
.created .try-text {
  position: absolute;
  left: 10%;
  margin-top: 15%;
  width: 100%;
  font-family: caveatBold;
  font-size: 25px;
}
.created .foods-one {
  margin: 0 auto;
  width: 95%;
  height: 40%;
  display: flex;
  justify-content: space-evenly;
}
.created .foods-one .recipe-holder {
  width: 524px;
  height: 263px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.created .foods-one .recipe-holder .recipe-image {
  width: 300px;
  height: 263px;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.created .foods-one .recipe-holder .recipe-image a {
  width: 224px;
  height: 263px;
  background-color: white;
  border-radius: 20px;
  font-family: latoRegular;
  text-decoration: none;
}
.created .foods-one .recipe-holder .recipe-image a #viewBtn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-top: 40%;
  cursor: pointer;
  text-decoration: none;
  width: 128px;
  height: 42px;
  background: #ffd972 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 26px;
  border-width: 0;
}
.created .foods-one .recipe-holder .recipe-text {
  width: 224px;
  height: 263px;
  background-color: white;
  border-radius: 20px;
  font-family: latoRegular;
}
.created .foods-one .recipe-holder .recipe-text .title {
  margin-top: 12px;
  margin-left: 60px;
  font-size: 15px;
  font-family: latoRegular;
}
.created .foods-one .recipe-holder .recipe-text .break {
  width: 150px;
  height: 5px;
  background-color: black;
  margin-top: -13px;
  margin-left: 40px;
}
.created .foods-one .recipe-holder .recipe-text .info {
  margin-left: 30px;
  font-size: 9px;
}
.created .foods-one .recipe-holder .recipe-text .time {
  font-size: 10px;
  margin-left: 80px;
}
.created .foods-one .recipe-holder .recipe-text .time img {
  width: 10px;
}
.created .foods-one .recipe-holder .recipe-text .serving {
  font-size: 10px;
  margin-left: 80px;
}
.created .foods-one .recipe-holder .recipe-text .serving img {
  width: 10px;
}
.created .foods-one .recipe-holder .pizza {
  background-image: url(../images/recipe-pizza.jpg);
}
.created .foods-one .recipe-holder .burger {
  background-image: url(../images/recipe-burger.jpg);
}
.created .foods-one .recipe-holder .chicken {
  background-image: url(../images/recipe-pilaf.jpg);
}
.created .foods-one .recipe-holder .chow {
  background-image: url(../images/recipe-chowmein.jpg);
}
.created .foods-one .recipe-holder #editBtn,
.created .foods-one .recipe-holder #deleteBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 128px;
  height: 42px;
  background: #ffd972 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 10px 6px #00000029;
          box-shadow: 0px 10px 6px #00000029;
  border-radius: 26px;
  border-width: 0;
}

@media all and (max-width: 1000px) {
  .created {
    flex-direction: column;
    height: fit-content;
  }
  .foods-one {
    flex-direction: column;
  }
}
.edit-recipe {
  margin: 0 auto;
  max-width: 1000px;
  padding-top: 150px;
}
.edit-recipe .intro {
  margin-top: 100px;
  font-size: 25px;
  margin-bottom: 109px;
  font-family: caveatBold;
}
.edit-recipe .recipe-info {
  max-width: 1000px;
  min-height: 400px;
}
.edit-recipe .recipe-info .recipe-input {
  position: relative;
}
.edit-recipe .recipe-info .recipe-input input {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  font-size: 12px;
}
.edit-recipe .recipe-info .recipe-input .addImg {
  width: 110px;
  height: 36px;
  background-color: #efa7a7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: caveatRegular;
  font-size: 17px;
  border-radius: 15px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 890px;
}
.edit-recipe .recipe-info .recipe-input .addImg p {
  margin-top: 10px;
}
.edit-recipe .ingred {
  max-width: 1000px;
  min-height: 300px;
}
.edit-recipe .ingred .ingred-text {
  font-family: latoRegular;
  font-size: 20px;
}
.edit-recipe .ingred .ingred-input {
  position: relative;
}
.edit-recipe .ingred .ingred-input input {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  font-size: 12px;
}
.edit-recipe .instruction {
  max-width: 1000px;
  min-height: 300px;
}
.edit-recipe .instruction .instruction-text {
  font-family: latoRegular;
  font-size: 20px;
}
.edit-recipe .instruction .instruction-input {
  position: relative;
}
.edit-recipe .instruction .instruction-input input {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  font-size: 12px;
}
.edit-recipe .addBtn {
  width: 38px;
  height: 38px;
  background-color: #efa7a7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 40px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.edit-recipe .addBtn p {
  font-size: 20px;
  margin-top: 20px;
  user-select: none;
  font-family: gillSans;
}
.edit-recipe .edit {
  width: 422px;
  height: 52px;
  background-color: #efa7a7;
  border-radius: 20px;
  border: none;
  margin-left: 300px;
  font-size: 25px;
  font-family: caveatRegular;
  margin-bottom: 130px;
}

.view {
  width: 100%;
  height: 1000px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 150px;
}
.view .recipe-image {
  width: 300px;
  height: 263px;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.view .recipe-text {
  width: 224px;
  height: 263px;
  background-color: white;
  border-radius: 20px;
  font-family: latoRegular;
}
.view .recipe-text .title {
  margin-top: 12px;
  margin-left: 60px;
  font-size: 15px;
  font-family: latoRegular;
}
.view .recipe-text .break {
  width: 150px;
  height: 5px;
  background-color: black;
  margin-top: -13px;
  margin-left: 40px;
}
.view .recipe-text .info {
  margin-left: 30px;
  font-size: 9px;
}
.view .recipe-text .time {
  font-size: 10px;
  margin-left: 80px;
}
.view .recipe-text .time img {
  width: 10px;
}
.view .recipe-text .serving {
  font-size: 10px;
  margin-left: 80px;
}
.view .recipe-text .serving img {
  width: 10px;
}
.view .pizza {
  background-image: url(../images/recipe-pizza.jpg);
}

@media all and (max-width: 1000px) {
  .view {
    flex-direction: column;
    height: fit-content;
  }
}

/*# sourceMappingURL=styles.css.map */
