footer {
  width: 100%;
  // height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  font-family: latoItalic;
  font-size: 15px;
  margin-top: -60px;

  letter-spacing: 1.5px;
  color: black;
}

footer a {
  text-decoration: none;
  color: black;
}

footer .footer-left {
}

footer .footer-middle {
  display: flex;
  align-items: center;
}

footer .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .footer-right {
}

footer .footer-right img {
  width: 19px;
  height: 19px;
}
