.created {
  width: 100%;
  height: 1000px;
  background-image: linear-gradient(
      rgba(167, 232, 189, 0.7),
      rgba(167, 232, 189, 0.7)
    ),
    url(../images/recipe-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: green;
  padding-top: 150px;

  .created-page {
    width: 30%;
    height: 15%;
    position: relative;
  }

  .try-text {
    position: absolute;
    //top: 50px;
    left: 10%;
    margin-top: 15%;
    width: 100%;
    font-family: caveatBold;
    font-size: 25px;
  }

  .foods-one {
    margin: 0 auto;
    width: 95%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    .recipe-holder {
      width: 524px;
      height: 263px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .recipe-image {
        width: 300px;
        height: 263px;
        border-radius: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        a {
          width: 224px;
          height: 263px;
          background-color: white;
          border-radius: 20px;
          font-family: latoRegular;
          text-decoration: none;
          #viewBtn {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin: 0 auto;
            margin-top: 40%;
            cursor: pointer;
            text-decoration: none;

            width: 128px;
            height: 42px;
            background: #ffd972 0% 0% no-repeat padding-box;
            box-shadow: 0px 10px 6px #00000029;
            border-radius: 26px;
            border-width: 0;
          }
        }
      }

      .recipe-text {
        width: 224px;
        height: 263px;
        background-color: white;
        border-radius: 20px;
        font-family: latoRegular;

        .your-recipe-title {
          width: fit-content;
          margin-top: 20%;
          margin-left: 40px;
          font-size: 15px;
          font-family: latoBlack;
        }
        .break {
          width: 150px;
          height: 5px;
          background-color: black;
          margin-top: -13px;
          margin-left: 40px;
        }

        .info {
          margin-left: 40px;
          font-size: 9px;
          font-family: latoRegular;
          text-align: left;
        }

        .time {
          font-size: 10px;
          margin-left: 80px;
          font-family: latoRegular;

          img {
            width: 10px;
          }
        }

        .serving {
          font-size: 10px;
          margin-left: 80px;
          font-family: latoRegular;

          img {
            width: 10px;
          }
        }
      }

      .pizza {
        background-image: url(../images/recipe-pizza.jpg);
      }

      .burger {
        background-image: url(../images/recipe-burger.jpg);
      }

      .chicken {
        background-image: url(../images/recipe-pilaf.jpg);
      }

      .chow {
        background-image: url(../images/recipe-chowmein.jpg);
      }
    }
    .bottom-buttons {
      margin-left: 2%;
      margin-top: 1%;

      #editBtn,
      #deleteBtn {
        width: 128px;
        height: 42px;
        background: #ffd972 0% 0% no-repeat padding-box;
        box-shadow: 0px 10px 6px #00000029;
        border-radius: 26px;
        border-width: 0;
      }
    }
  }
}
@media all and (max-width: 1000px) {
  .created {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: fit-content;

    .try-text {
      position: relative;
    }

    .foods-one {
      flex-direction: column;

      .recipe-holder {
        padding-bottom: 50px;
      }

      .recipe-image {
        padding-bottom: 50px;
      }
    }
  }
}
