.account-page {
  width: 100%;
  height: 1000px;
  background-color: #ffd972;
  padding-top: 250px;

  .login-info {
    display: flex;
    margin: 0 15%;
    align-items: center;
    justify-content: space-evenly;

    .login {
      max-width: 206px;
      margin: 0 auto;

      .login-text {
        margin-bottom: 50px;
        font-size: 30px;
        font-family: latoRegular;
      }

      input {
        display: block;
        width: 100%;
        height: 50px;
        margin-bottom: 5px;
        border: none;
        border-bottom: 2px solid black;
        outline: none;
        background-color: #ffd972;
        font-size: 12px;
        font-family: latoRegular;
      }
    }
    button {
      width: 209px;
      height: 52px;
      background-color: #ffd972;
      border-radius: 10px;
      border: #ffd972;
      box-shadow: 0px 10px 20px 1px gray;
      margin-top: 20px;
      cursor: pointer;
      font-family: caveatRegular;
      font-size: 25px;
    }
    .sign {
      max-width: 300px;
      margin: 0 auto;

      .question {
        font-size: 12px;
        margin-bottom: 3px;
        font-family: latoItalic;
      }

      .sign-text {
        font-size: 30px;
        margin-bottom: 80px;
        font-family: latoRegular;
      }
      input {
        display: block;
        width: 250px;
        height: 50px;
        margin-bottom: 5px;
        border: none;
        border-bottom: 2px solid black;
        outline: none;
        background-color: #ffd972;
        font-size: 12px;
        font-family: latoRegular;
      }
      button {
        width: 209px;
        height: 52px;
        background-color: #ffd972;
        border-radius: 10px;
        border-color: #707070;
        margin-top: 20px;
        cursor: pointer;
        font-family: caveatRegular;
        font-size: 25px;
      }
    }
  }
}
@media all and (max-width: 1000px) {
  .account-page {
    flex-direction: column;
    height: 100%;

    .login-info {
      flex-direction: column;

      .login {
        padding-bottom: 100px;
      }

      .sign {
        flex-direction: column;
        top: 575px;
        left: 273px;
        padding-bottom: 250px;

        .question {
          flex-direction: column;
        }

        .sign-text {
          flex-direction: column;
        }

        input {
          flex-direction: column;
        }

        button {
        }
      }
    }
  }
}
